extends ../main

block content
  h3 Add New Movie
  if errors.length > 0
    div.alert.alert-danger
      p There are validation errors:
      ul
        each error in errors
          li: = error.msg
  form(method='post').form
    div.form-group
      label(for='title') Title
      input(type='text', name='title', placeholder='Cool Movie 7', required=true, value=(form_data?form_data.title:''))#title.form-control
    div.form-group
      label(for='release_date') Release Date
      input(type='date', name='release_date', required=true, value=(form_data?form_data.release_date:''))#release_date.form-control
    div.form-group
      label(for='genre_id') Genre
      select(name='genre_id', required=true)#genre_id.form-control
        option(selected=true, disabled=true, hidden=true, style='display: none' value='') Please select...
        each genre in genres
          option(value=genre.id selected=(!!form_data&&parseInt(form_data.genre)===genre.id)) #{genre.name}
    div.form-group
      label(for='rating_id') Rating
      select(name='rating_id', required=true)#rating_id.form-control
        option(selected=true, disabled=true, hidden=true, style='display: none' value='') Please select...
        each rating in ratings
          option(value=rating.id selected=(!!form_data&&parseInt(form_data.rating)===rating.id)) #{rating.name} (#{rating.code})
    div.form-group
      label(for='poster_image_url') Poster Image
      input(type='url', name='poster_image_url', placeholder='http://image-host/poster.jpg', value=(!!form_data&&form_data.poster_image_url?form_data.poster_image_url:''))#poster_image_url.form-control
    div.form-group
      label(for='cover_image_url') Cover Image
      input(type='url', name='cover_image_url', placeholder='http://image-host/cover.jpg', value=(!!form_data&&form_data.cover_image_url?form_data.cover_image_url:''))#cover_image_url.form-control
    div.checkbox
      label
        input(type='checkbox', name='featured', checked=(!!form_data&&!!form_data.featured))
        | Featured
    button(type='submit').btn.btn-primary.pull-right Add Movie