extends ../main

block content
    h3 Edit Movie
    if errors
        div.alert.alert-danger
            p There are validation errors:
            ul
                each error in errors
                    li: = error.msg
    form(method='post').form
        div.form-group
            label(for='title') Title
            input(type='text', name='title', placeholder='Cool Movie 7', required=true, value=movie.title)#title.form-control
        div.form-group
            label(for='release_date') Release Date
            input(type='date', name='release_date', required=true, value=movie.release_date)#release_date.form-control
        div.form-group
            label(for='genre') Genre
            select(name='genre', required=true)#genre.form-control
                option(selected=true, disabled=true, hidden=true, style='display: none' value='') Please select...
                each genre in genres
                    option(value=genre.id selected=(parseInt(movie.genre_id)===genre.id)) #{genre.name}
        div.form-group
            label(for='rating') Rating
            select(name='rating', required=true)#rating.form-control
                option(selected=true, disabled=true, hidden=true, style='display: none' value='') Please select...
                each rating in ratings
                    option(value=rating.id selected=(parseInt(movie.rating_id)===rating.id)) #{rating.name} (#{rating.code})
        div.form-group
            label(for='poster_image') Poster Image
            input(type='url', name='poster_image', placeholder='http://image-host/poster.jpg', value=movie.poster_path)#poster_image.form-control
        div.form-group
            label(for='cover_image') Cover Image
            input(type='url', name='cover_image', placeholder='http://image-host/cover.jpg', value=movie.cover_path)#cover_image.form-control
        div.checkbox
            label
                input(type='checkbox', name='featured', checked=(!!movie.featured))
                | Featured
        button(type='submit').btn.btn-primary.pull-right Save