extends ../main

block content
  div.pull-right
    a(href='/movies/add').btn.btn-primary Add New Movie
  table.table
    thead
      tr
        th(colspan='2') Title
        th Genre
        th Rating
        th Release Date
        th Featured
        th
    tbody
      each movie in movies
        tr(id=movie.id)
          // If path starts with http, it's external. Otherwise assume it's hosted with laravel instance
          if movie.poster_path.lastIndexOf('http://', 0) === 0
            td: img(src=movie.poster_path, width='50px')
          else
            td: img(src=("http://localhost" + movie.poster_path), width='50px')
          td= movie.title
          td= movie.genre.name
          td #{movie.rating.name} (#{movie.rating.code})
          td= movie.release_date_string
          if movie.featured === 1
            td True
          else
            td False
          td
            a(href='/movies/'+movie.id).btn.btn-sm.btn-primary
              span.glyphicon.glyphicon-info-sign
              |  Info
            a(href='/movies/edit/'+movie.id).btn.btn-sm.btn-info
              span.glyphicon.glyphicon-edit
              |  Edit
            button(data-id=movie.id).delete-movie.btn.btn-sm.btn-danger
              span.glyphicon.glyphicon-remove
              |  Delete

block scripts
  script.
    $(document).ready(function() {
        $('.delete-movie').click(function () {
            var movie_id = $(this).data('id');
            $.ajax({
                method: 'DELETE',
                url: '/movies/' + movie_id,
                success: function (response) {
                    if (response === 'success') {
                        $('#'+movie_id).remove();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify(jqXHR));
                    console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
                }
            });
        });
    });