extends ../main

block content
  if message
    div.alert.alert-info= message

  h3= movie.title
  div.row
    div.col-sm-3: strong Release Date:
    div.col-sm-9= movie.release_date
  div.row
    div.col-sm-3: strong Genre:
    div.col-sm-9= movie.genre.name
  div.row
    div.col-sm-3: strong Rating:
    div.col-sm-9 #{movie.rating.name} (#{movie.rating.code})
  div.row
    div.col-sm-3: strong Poster Image:
    div.col-sm-9
      if movie.poster_path.lastIndexOf('http://', 0) === 0
        a(href=movie.poster_path)= movie.poster_path
      else
        a(href=("http://localhost" + movie.poster_path)) http://localhost#{movie.poster_path}
  div.row
    div.col-sm-3: strong Cover Image:
    div.col-sm-9
      if movie.poster_path.lastIndexOf('http://', 0) === 0
        a(href=movie.cover_path)= movie.cover_path
      else
        a(href=("http://localhost" + movie.cover_path)) http://localhost#{movie.cover_path}
  div.row
    div.col-sm-3: strong Featured:
    div.col-sm-9= (movie.release_date?'Yes':'No')
  div.row
    div.col-sm-12
      div.btn-group
        a(href='/movies/edit/'+movie.id).btn.btn-sm.btn-info
          span.glyphicon.glyphicon-remove
          |  Edit
      | #{' '}
      div.btn-group
        button(type='button', data-id=movie.id)#delete-movie.btn.btn-sm.btn-danger
          span.glyphicon.glyphicon-remove
          |  Delete


block scripts
  script.
      $(document).ready(function() {
          $('#delete-movie').click(function () {
              var movie_id = $(this).data('id');
              $.ajax({
                  method: 'DELETE',
                  url: '/movies/' + movie_id,
                  success: function (response) {
                      if (response === 'success') {
                          location.href = '/movies';
                      }
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                      console.log(JSON.stringify(jqXHR));
                      console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
                  }
              });
          });
      });