extends ../main

block content
  if message.length > 0
    div.alert.alert-info= message
  div.row
    div.col-sm-6
      label(for='filter-movie').sr-only Choose a Movie:
      select(name='filter_movie_id')#filter-movie.form-control
        option(selected=true, disabled=true, hidden=true, style='display: none' value='') Choose a Movie...
        each movie in movies
          option(value=movie.id selected=(!!selected_movie && parseInt(selected_movie) === movie.id))= movie.title
  table(style='display: none')#table.table
    thead
      tr
        th Session Time
        th Cinema
        th
    tbody#movie_sessions-tbody
  div.pull-right
    a(href='/movie_sessions/add')#add-new-button.btn.btn-primary Add New Session

block scripts
  script.
    $(document).ready(function() {
        var filter_movie = $('#filter-movie');

        filter_movie.change(function () {
            // Get sessions for selected movie
            var selected_movie_id = this.value;
            $('#table').show();
            $.ajax({
                method: 'POST',
                url: '/movie_sessions/by_movie/' + selected_movie_id,
                success: function (response) {
                    // Add sessions to table
                    var tbody = $('#movie_sessions-tbody');
                    tbody.empty();
                    $.each(response, function (n, movie_session) {
                        var session_row_html = $([
                            "<tr id='"+movie_session.id+"'>",
                            "  <td>" + movie_session.scheduled_at + "</td>",
                            "  <td>" + movie_session.cinema.city + "</td>",
                            "  <td><a class='btn btn-sm btn-info' href='/movie_sessions/edit/" + movie_session.id + "'><span class='glyphicon glyphicon-edit'></span> Edit</a>",
                            "  <button class='btn btn-sm btn-danger delete-movie-session' data-id='" + movie_session.id + "'><span class='glyphicon glyphicon-remove'></span> Delete</a></td>",
                            "</tr>"
                        ].join("\n"));
                        tbody.append(session_row_html);
                    });

                    // Register click event on the delete buttons
                    $('.delete-movie-session').click(function () {
                        var movie_session_id = $(this).data('id');
                        $.ajax({
                            method: 'DELETE',
                            url: '/movie_sessions/' + movie_session_id,
                            success: function (response) {
                                if (response === 'success') {
                                    $('#' + movie_session_id).remove();
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log(JSON.stringify(jqXHR));
                                console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
                            }
                        });
                    });

                    // Configure "Add New Session" button for the selected movie
                    $('#add-new-button').attr('href', '/movie_sessions/add?movie_id=' + selected_movie_id);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify(jqXHR));
                    console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
                }
            });
        });

        // If movie already selected trigger the change event to get sessions
        if (filter_movie.val() !== '') {
            filter_movie.trigger("change");
        }
    });